*{
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0;
}

h1{
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
}

/* start firts line header */

.first-line-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    z-index: 1000;
}

.first-line-header .left-section{
    display: flex;
    gap: 20px;
}

/* footer */

.first-line-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    z-index: 1000;
}

.first-line-footer .left-section {
    flex: 1;
}

.first-line-footer .right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.first-line-footer .right-section span {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    margin-top: 30px;
    gap: 16px;
    margin-right: 5px;
}

.social-icons a{
    transition: all 0.3s ease;
    padding: 0 2px;
}

.social-icons a:hover{
    opacity: 0.7;
    padding: 0;
}

.social-icons img{
    width: 30px;
    transition: all 0.3s ease;
}

.social-icons a:hover img{
    width: 34px;
}

.footer-contact-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item{
    display: flex;
    gap: 4px;
    align-items: center;
}



.contact-item img{
width: 30px;
}

