.single .title{
    text-align: center;
}

.post_info{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.author{
    color: rgb(223, 18, 18);
}

.image{
    width:100%;
    height: 300px;
    margin-bottom: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    box-shadow: 0px 0px 20px #ffc;
}

.content{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
}